@model List<ionit.receitas.core.Entities.Receita>

@{
    ViewData["Title"] = "View";
}

<h4>Lista de Receitas</h4>
<hr />

<ul>
    @foreach (var receita in Model)
    {
        <li>
            @receita.Id @receita.Titulo
        </li>
    }

</ul>